<section class="box">
  <div class="box_context">
    <h1 class="box_title">Results</h1>
    <h4>Your grit score is...</h4>
    <div class="set-size charts-container">
      <div class="pie-wrapper progress-95 style-2">
        <span class="label">{{model.gritScore}}</span>
        <div class="pie" style={{rotate.clip}}>
          <div class="left-side half-circle {{color}}" style={{rotate.left}}></div>
          <div class="right-side half-circle {{color}}" style={{rotate.right}}></div>
        </div>
        <div class="shadow"></div>
      </div>
    </div>
    <h4 style='text-align:right;'>...out of five!</h4>
    <p style='text-align:center;'>
      A score of 4.1 makes you grittier than 70% of Americans!
    </p>
  </div>
</section>
